<div class="h-100 row text-light">
    <div class="col">
        <br />
        <form method="POST" action="/browse/search">
            <div id="centerThis">
                <div class="form-group">
                    <input type="search" class="form-control" id="inputSearch" aria-describedby="inputSearch"
                        placeholder='{{message}}' name="inputSearch">
                    <small id="inputSearch" class="form-text text-muted">Selling data one search at a time..</small>
                    <br/>
                    <button type="submit" class="btn btn-danger">Don't click this yet. <br/> You've been warned.</button>
                </div>
            </div>
        </form>
    </div>
</div>