<br /><br /><br />
<div class="h-100 row text-light parent">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            <h3>
                <img src="https://i.ya-webdesign.com/images/transparent-spiral-2.gif" width="50px" />
                Oopsie Doodle
                <img src="https://i.ya-webdesign.com/images/transparent-spiral-2.gif" width="50px" />
            </h3>
            <h4>{{ message }}</h4>
            <p>{{ errMesg }}</p>
        </div>
    </div>
</div>