<br /><br /><br />
<div class="h-100 row text-light parent">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            <h1>Search Results</h1>
            <br />
            <div class="container">
                <div class="row">
                    {{#each theMovie}}
                    <div class="col text-center mx-auto">
                        <a href="/browse/view?key={{ this.imdb_title_id }}" class="hvr-grow">
                            <img src="{{this.poster}}" alt="Poster Image" style="width: 100%; height: auto;" />
                        </a><br /><br />
                        <p>{{ this.title }}</p>
                        {{!-- form messed with formatting, waiting.. --}}
                    </div>
                    {{else}}
                    <h3>Sorry bud, can't find what you want :(</h3>
                    {{/each}}
                </div>
            </div>
        </div>
        <br />
    </div>
</div>