<br /><br /><br />
<div class="h-100 row text-light parent">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            <h1>Poster URL: {{posterURL}}</h1>
            <img src="{{posterURL}}" alt="still not working boss"/>
        </div>
    </div>
</div>