<div class="h-100 row align-items-center text-light" style="width: 75vw; padding-left: 30%;">
    <div class="col">
        <br/>
            <h4>Who goes there?</h4>
            <form action="/users/login">
                <button type="submit" class="btn btn-warning">Identify Yourself.</button>
            </form>
    </div>
</div>

