body {
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Ubuntu', sans-serif !important;
  background-color: rgb(52, 58, 64) !important;
  animation: colorchange 10s;
  -webkit-animation: colorchange 10s;
}

.parent {
  width: 75vw;
  padding-left: 10%;
  text-align: center;
}

.parent>img {
  vertical-align: middle;
}

.parent>h4 {
  display: inline-block;
}

a {
  /* color: #00B7FF; */
  color: red;
}

#centerThis {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0) rotate(-10deg);
  transform: perspective(1px) translateZ(0) rotate(-10deg);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Color Change */

@keyframes colorchange {
  0% {
    background: rgb(52, 58, 64);
  }

  25% {
    background: rgb(62, 69, 77);
  }

  50% {
    background: rgb(45, 53, 73);
  }

  75% {
    background: rgb(62, 69, 77);
  }

  100% {
    background: rgb(52, 58, 64);
  }
}

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */
  {
  0% {
    background: rgb(52, 58, 64);
  }

  25% {
    background: rgb(62, 69, 77);
  }

  50% {
    background: rgb(45, 53, 73);
  }

  75% {
    background: rgb(62, 69, 77);
  }

  100% {
    background: rgb(52, 58, 64);
  }
}

/* HR style */

hr.hr-17 {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}

/* RATING SYSTEM */

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

/* FOOTER.. */
.footer {
  /* position: fixed; */
  left: 0;
  margin: 0 auto;
  bottom: 5px;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Comic Sans MS" !important;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}