body {
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #383C40 !important;
}

.parent {
  width: 75vw;
  padding-left: 10%;
  text-align: center;
}

.parent > img {
  vertical-align: middle;
}

.parent > h4 {
    display:inline-block;
}

a {
  /* color: #00B7FF; */
  color: red;
}
