body {
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #383C40 !important;
}

.parent {
  width: 75vw;
  padding-left: 10%;
  text-align: center;
}

.parent > img {
  vertical-align: middle;
}

.parent > h4 {
    display:inline-block;
}

a {
  /* color: #00B7FF; */
  color: red;
}

#centerThis {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}